.navbar {
  background-color: #013059;
}

.the-problem {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.the-problem-title {
  margin-bottom: 30px;
}

.the-problem-img {
  width: 100%;
}

.the-problem-paragraph {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
  text-justify: inter-word;
}

.the-idea {
  background-color: #013059;
  padding-top: 50px;
  padding-bottom: 50px;
}

.the-idea-title {
  margin-bottom: 30px;
  color: white;
}

.the-idea-paragraph {
  color: rgba(255, 255, 255, 0.8);
}

.ocean-data {
  /* background-color: #f7f7f7; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.ocean-data-title {
  margin-bottom: 30px;
}

.ocean-data-img {
  width: 100%;
}

.ocean-data-paragraph {
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
  text-justify: inter-word;
}

.how {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.how-title {
  margin-bottom: 30px;
  text-align: center;
}

.how-img {
  width: 100%;
}

.how-paragraph {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
  text-justify: inter-word;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #013059;
}

.footer-text {
  color: white;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .the-problem,
  .the-idea,
  .ocean-data,
  .how {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .the-problem-title,
  .the-idea-title,
  .ocean-data-title,
  .how-title {
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .the-problem,
  .the-idea,
  .ocean-data,
  .how {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .the-problem-title,
  .the-idea-title,
  .ocean-data-title,
  .how-title {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .the-problem,
  .the-idea,
  .ocean-data,
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
